.bg-Img {
  background-image: url(../assets/Bg_img.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  /* background-position: center; */
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-6px);
  }
  50% {
    transform: translateX(6px);
  }
  75% {
    transform: translateX(-6px);
  }
}

.animationEffect:active {
  animation: shake 0.3s ease-in-out;
}


/* Animation for +1 */
.plus-one-animation {
  position: absolute;
  left: 50%;
  top: 0%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
  animation: moveUp 0.8s ease-out forwards;
  pointer-events: none;
}

@keyframes moveUp {
  0% {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
  50% {
    transform: translate(-50%, -150%);
    opacity: 0.8;
  }
  100% {
    transform: translate(-50%, -200%);
    opacity: 0;
  }
}



.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: #2d2d2d;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  max-width: 400px;
  text-align: center;
}

input {
  background-color: #f3f3f3;
  border-radius: 5px;
  padding: 10px;
  width: 80%;
  margin-top: 10px;
}

button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
